html{
	height:100%;
	width:100%;
	margin:0px;
}
/*child elem of html*/
#body{
	min-height:100%;
	min-width:100%;
	margin:0px;
	/*Font from google fonts*/
	font-family: 'Lato', sans-serif;
	font-family: 'Open Sans', sans-serif;
}
/*---------------------------------
//These elems are children of body
-----------------------------------*/
#top{
	position:absolute;
	background-color: white;
	width:100%;
	margin-top:0px;
}
/*child of top*/
#name{
	margin-top:-20px;
	font-size:5.2em;
	margin-bottom:0px;
	background-color: transparent;
}
#mainContainer{
	position:absolute;
	margin-top:0px;
	width:100%;
	height:62.5%;
}
/*child of name*/
#nycBW{
	position:absolute;
	float:right;
	width:100%;
	height:105%;
	padding-left:10%;
}
/*child of mainContainer*/
#homePicContainer{
	position:absolute;
	width:30%;
	height:70%;
}
#picture{
	width:100%;
	height:150%;
	margin-top:0px;
}
/*------------------------------
//leftPanel is new parent elem
-------------------------------*/
.leftPanel{
	position:absolute;
	float:left;
	width:30%;
	height:100%;
	margin:0px;
}
/*child elem of leftPanel*/
#purplebg{
	position:absolute;
	width:100%;
	height:100%;
	background-repeat:repeat-x;
}
/*By itself*/
.menu{
	position:absolute;
	bottom:0px;
	height:30%;
	width:30%;
	float:left;
	top:77.9%;

	text-align:center;
}
#link1, #link2, #link3{
	text-decoration:none;
	width:100%;
	float:left;
	color:white;
	font-size:2em;
	height: 22%;
}
#link1:hover, #link2:hover, #link3:hover{
	background-color: white;
	color:#5C005C;
}

.contact{
	top:120%;
}





